@import './variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  background-color: $background-color;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 3rem;
  width: 80%;
  color: $text-accent;
  text-align: start;
  margin: auto;
}

h3 {
  color: $text-accent;
}

.main-wrapper {
  padding-top: 20px;
  margin: auto;
}

.content-wrapper {
  border: none;
  border-radius: 0.5em;
  padding: 50px 0;

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-footer {
    width: 80%;
    margin: auto;
    padding-top: 2rem;
    font-size: 0.8rem;
    color: $text-accent;
  }
}

.side-wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.currency-picker {
  border: $border;
  color: $text-light;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 10px 12px 8px;
  border-radius: 0.5em;
  will-change: border;
  transition: border 600ms;

  &-item:hover {
    color: $text-accent;
    cursor: pointer;
    transition-duration: 300ms;
  }

  &:hover {
    border: $border-highlighted;
    transition: border 300ms;
  }
}

.chosen {
  color: $text-accent;
}

.currency-input {
  border: $border;
  border-radius: 0.5em;
  min-height: 100px;
  padding: 20px 0px 0px 20px;
  color: $text-accent;

  &-textfield {
    all: unset;
    font-size: 2rem;
    width: 90%;
  }

  &-rate {
    padding-top: 0.5rem;
    font-size: 0.7rem;
  }

  &:hover {
    border: $border-highlighted;
    transition: border 300ms;
  }
}

.switch {
  padding: 20px;
  margin-inline: auto;
  margin-top: 10px;

  & > img:hover {
    rotate: (180deg);
    transition: rotate 300ms ease-out;
  }
}

@media (min-width: $layout-breakpoint-small) {
  h1 {
    width: 100%;
  }

  .main-wrapper {
    padding-top: 20vh;
  }
  .content-wrapper {
    border: $border;
    padding: 50px 20px;

    &-content {
      flex-direction: row;
    }

    &-footer {
      padding-left: 2px;
      width: 100%;
    }
  }

  .side-wrapper {
    width: 300px;
  }

  .currency-input {
    min-height: 180px;

    &:active {
      translate: 1px 1px;
      box-shadow: inset 1px 1px 0px rgb(99, 99, 99);
    }
  }

  .currency-picker:active {
    translate: 1px 1px;
    box-shadow: inset 1px 1px 0px rgb(99, 99, 99);
  }
}
