$background-color: #ececec;
$border: 0.15rem solid #a5a5a5;
$text-accent: #383838;
$text-light: #cccccc;
$toolbar-height: 40px;
$border-highlighted: 0.15rem solid #757575;
$layout-breakpoint-small: 960px;

.overpass {
  font-family: 'Overpass', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.josefin-sans {
  font-family: 'Josefin Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
